#current-city {
  font-size: 45px;
  font-weight: 600;
  color: whitesmoke;
  padding-left: 27px;
}
#search-form {
  margin-bottom: 70px;
}
#temp-icon {
  padding-left: 40px;
}
#icon {
  margin-left: 30px;
  margin-top: -10px;
}
#current-temperature {
  font-size: 50px;
  font-weight: 600;
  color: whitesmoke;
  line-height: 0.7;
  margin-left: 0px;
}

#humidity,
#wind-speed {
  color: #ec6e4c;
  font-weight: bold;
}
#date {
  display: inline;
}

#description {
  font-style: italic;
  color: whitesmoke;
  display: block;
}
#forcast-icon {
  display: block;
}

#forcast-min {
  opacity: 0.6;
}

.container {
  width: 45%;
  height: 600px;
  margin: 50px auto;
  padding: 50px 40px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-family: "Familjen Grotesk", sans-serif;
  background: linear-gradient(
    120deg,
    rgb(4, 29, 55) 10%,
    rgb(6, 50, 97) 20%,
    rgb(28, 133, 243) 50%
  );
}

.col-6 {
  line-height: 1.5;
}
.col-9 input {
  background-color: whitesmoke;
}
.search-btn {
  background-color: #68e1fd;
  color: #252562;
  border: none;
  border-radius: 5px;
  padding: 7px 20px;
  width: 110px;
  font-weight: 600;
  font-size: 19px;
}

.parameter {
  color: rgb(250, 246, 246);
}
.units {
  font-size: 18px;
  line-height: 1;
  position: relative;
  top: -20px;
  color: #68e1fd;
}
.footer {
  text-align: center;
  font-size: 14px;
  color: #0a0a3a;
  padding-top: 30px;
}
.footer-link {
  text-decoration: none;
  color: whitesmoke;
}
.forcast {
  color: whitesmoke;
  margin-top: 50px;
  text-align: center;
  height: 150px;
}
.forcast-day {
  font-size: 16px;
}

.forcast-degrees {
  font-size: 14px;
}

li {
  list-style: none;
  color: whitesmoke;
}
ul span {
  color: whitesmoke;
}
